{% extends "rubricas/base.html" %}
<!-- Implementación visualizaciones -->
<!-- Fin Implementación visualizaciones -->

{% block head_title %}
Proy_medicina - APEs
{% endblock %}

{% block content %}

{% load humanize %}


  <h1 class="ui header">APEs</h1>
  <br>

  <div class="ui fluid card">
    <div class="content">
      <div class="header">¿Qué son las APEs?</div>
      <div class="description">
      <p>Las APEs son los Actividades Profesionales Esenciales que todos los residentes de la Facultad de Medicina de la Universidad de los Andes deben obtener para desempeñarse como médicos.</p>
      </div>
    </div>
  </div>

  <div class="ui fluid card">
    <div class="content">
      <div class="header">¿Qué APEs existen?</div>
      <table class="ui very basic collapsing celled table">

        <tbody>
          {% for ape in apes %}
          <tr>
            <td>
              {{ ape.sigla }}
            </td>
            <td>
              {{ ape.descripcion }}
            </td>
          </tr>
          {% endfor %}

        </tbody>

      </table>
    </div>

  </div>
  <div class="Site-footer ui inverted footer black segment">
    <div class="ui container">
      <i class="large python mark icon"></i>
      <div class="ui small horizontal list">
        <a class="item" style="color: white;" href="/contactenos/">Cont&aacute;ctenos (1.0.1/29ba1bf)</a>
      </div>
      <div class="ui small  right floated horizontal list">
        <i class="item">Universidad de los Andes | Facultad de Medicina</i>
      </div>
    </div>
  </div>

  <script language='javascript'>
      $(document).ready(function() {
        $('.ui.accordion').accordion()

        $('.toggle').click(function() {
          $('.ui.accordion').accordion('toggle', 1);
        });
      });
  </script>



{% endblock %}
