{% extends "rubricas/base.html" %}
{% block head_title %}
Proy_medicina - Home
{% endblock %}

{% block content %}
{% load humanize %}
<div class="ui grid stackable">
  <div class="two column row">

    <div class="column">
        <div class="ui raised card fluid">
            <div class="content">
                <div class="right floated meta">Ver todos</div>
                <div class="header">Calificaciones añadidas</div>
            </div>
            <div class="ui content">
            {% if not envios_cortados %}
                No hay calificaciones añadidas recientemente
            {% endif %}
            {% for envio in envios_cortados %}
                {% include 'dashboard/bloques/envio-inline.html' with envio=envio mostrar_problema=True %}
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="column">
        <div class="ui raised card fluid">
            <div class="content">
                <div class="right floated meta">Ver todas</div>
                <div class="header">Notificaciones recientes</div>
            </div>
            <div class="content">
            {% if not notificaciones_cortadas %}
                No hay notificaciones sin leer
            {% endif %}
            {% for notificacion in notificaciones_cortadas %}
                <div class="ui tiny">
                <i class="hand point right outline icon"></i> {{ notificacion.timestamp|naturaltime }}</div>
                {% if notificacion.link %}
                <a href="{{ notificacion.link }}">
                    {{ notificacion.resumen|truncatewords:10 }}
                </a>
                {% else %}
                    {{ notificacion.resumen|truncatewords:10 }}
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
  </div>

  <div class="column row">
    <div class="column">
        <div class="ui raised card fluid">
            <div class="content">
                <div class="right floated meta">Ver todas</div>
                <div class="header">Metacompetencias actualizadas</div>
            </div>
            <div class="content">
            {% if not lista_tareas %}
                No hay metacompetencias actualizadas recientemente
            {% endif %}

            {% for tarea, resultado_tarea in lista_tareas %}
                {% include 'dashboard/bloques/tarea-inline.html' with tarea=tarea resultado_tarea=resultado_tarea %}
            {% endfor %}
           </div>
         </div>
       </div>
    </div>
</div>

{% endblock %}
