{% extends "rubricas/base.html" %}
<!-- Implementación visualizaciones -->
<!-- Fin Implementación visualizaciones -->

{% block head_title %}
Proy_medicina - Cursos
{% endblock %}

{% block content %}

{% load humanize %}

<div class="ui grid stackable">
  <div class="two column row">

    <div class="column">
        <div class="ui raised card fluid">
            <div class="content">
                <div class="header">Cursos actuales</div>
            </div>
            <div class="ui content">
            <ul>
            <li>Medicina Social - MEDI 2301</li>
            <li>Otorrinolaringología - MEDI 3431</li>
            <li>Parasitología Médica - MEDI - 2301</li>
            <li>Sistema Mucocutáneo - MEDI 2311</li>
            <li>Sistema Osteomuscular - MEDI 1230</li>
            </ul>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="ui raised card fluid">
            <div class="content">
                <div class="header">Cursos pasados</div>
            </div>
            <div class="content">
              <ul>
              <li>Anatomía II - MEDI 1203</li>
              <li>Biología Molecular-Teoría - MBIO 2102</li>
              <li>Embriología - MEDI 1208</li>
              <li>Fisiología - MEDI 1211</li>
              <li>Habilidades de Comunicación I - MEDI 1102</li>
              <li>Historia de la medicina - MEDI 1021</li>
              <li>Introducción a la Profesión Médica - MEDI 1101</li>
              <li>Patología - MEDI 1216</li>
              <li>Química orgánica - QUIM 1301</li>
              <li>Semiología I - MEDI 1208</li>
              </ul>
            </div>
        </div>
    </div>
  </div>

{% endblock %}
