{% extends "rubricas/base.html" %}
<!-- Implementación visualizaciones -->
<!-- Fin Implementación visualizaciones -->

{% block head_title %}
Proy_medicina - Cursos
{% endblock %}

{% block content %}

{% load humanize %}

<div class="ui grid stackable">
    <div class="column">
        <div class="ui raised card fluid">
            <div class="content">
                <div class="header">Cursos actuales</div>
            </div>

              <table class="ui striped table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Código</th>
                  <th>Semestre</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="especifico/">Medicina Social</a></td>
                  <td>MEDI 2301</td>
                  <td>2021-10</td>
                </tr>
                <tr>
                  <td><a href="especifico/">Otorrinolaringología</a></td>
                  <td>MEDI 3431</td>
                  <td>2021-10</td>
                </tr>
                <tr>
                  <td><a href="especifico/">Parasitología Médica</a></td>
                  <td>MEDI 2401</td>
                  <td>2021-10</td>
                </tr>
                <tr>
                  <td><a href="especifico/">Sistema Mucocutáneo</a></td>
                  <td>MEDI 2311</td>
                  <td>2021-10</td>
                </tr>
                <tr>
                  <td><a href="especifico/">Sistema Osteomuscular</a></td>
                  <td>MEDI 1230</td>
                  <td>2021-10</td>
                </tr>
              </tbody>
            </table>

        </div>
    <div class="column">
        <div class="ui raised card fluid">
            <div class="content">
                <div class="header">Cursos pasados</div>
            </div>

            <table class="ui striped table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Código</th>
                <th>Semestre</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="especifico/">Anatomía I</a></td>
                <td>MEDI 1201</td>
                <td>2020-10</td>
              </tr>
              <tr>
                <td><a href="especifico/">Embriología</a></td>
                <td>MEDI 1208</td>
                <td>2020-10</td>
              </tr>
              <tr>
                <td><a href="especifico/">Fisiología</a></td>
                <td>MEDI 1211</td>
                <td>2020-10</td>
              </tr>
              <tr>
                <td><a href="especifico/">Habilidades Comunicación</a></td>
                <td>MEDI 1102</td>
                <td>2020-10</td>
              </tr>
              <tr>
                <td><a href="especifico/">Historia de la medicina</a></td>
                <td>MEDI 1021</td>
                <td>2020-10</td>
              </tr>
              <tr>
                <td><a href="especifico/">Intro. Profesión Médica</a></td>
                <td>MEDI 1101</td>
                <td>2020-10</td>
              </tr>
              <tr>
                <td><a href="especifico/">Anatomía II</a></td>
                <td>MEDI 1202</td>
                <td>2020-20</td>
              </tr>
              <tr>
                <td><a href="especifico/">Biología Molecular-Teoría</a></td>
                <td>MBIO 2102</td>
                <td>2020-20</td>
              </tr>
              <tr>
                <td><a href="especifico/">Patología</td>
                <td>MEDI 1216</td>
                <td>2020-20</td>
              </tr>
              <tr>
                <td><a href="especifico/">Química orgánica</a></td>
                <td>QUIM 1301</td>
                <td>2020-20</td>
              </tr>
              <tr>
                <td><a href="especifico/">Semiología I</a></td>
                <td>MEDI 1208</td>
                <td>2020-20</td>
              </tr>
            </tbody>
          </table>

        </div>
    </div>
  </div>

{% endblock %}
