{% extends "rubricas/base.html" %}
<!-- Implementación visualizaciones -->
<!-- Fin Implementación visualizaciones -->

{% block head_title %}
Proy_medicina - Curso específico
{% endblock %}

{% block content %}

{% load humanize %}
<head>
<style type="text/css">
body {
  background-color: #FFFFFF;
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.main.container {
  margin-top: 7em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
</style>
</head>

<body>
  <h1 class="ui header">Otorrinolaringología - MEDI 3431</h1>
  <br>

  <button class="huge ui button">
  APEs
  </button>
  <button class="huge ui button">
  Competencias
  </button>

  <h2 class="ui header">Rúbricas</h1>

  <div class="ui top attached tabular menu">
    <a class="active item" data-tab="genericas">Genéricas</a>
    <a class="item" data-tab="calificadas">Calificadas</a>
  </div>
  <div class="ui bottom attached active tab segment" data-tab="genericas">
    <div class="ui grid">

  <div class="eight wide column">
    <div class="ui grid">
      <div class="ui row top attached ">
        <i class="icon blue asterisk"> </i>
        <a href="/cursos/rubrica_g/" target="_blank">Enfermería Piso</a>
      </div>
    </div>
  </div>

  <div class="eight wide column">
    <div class="ui grid">
      <div class="ui row top attached ">
        <i class="icon blue asterisk"> </i>
        <a href="/cursos/rubrica_g/" target="_blank">Consulta Observada</a>
      </div>
    </div>
  </div>

  <div class="eight wide column">
    <div class="ui grid">
      <div class="ui row top attached ">
        <i class="icon blue asterisk"> </i>
        <a href="/cursos/rubrica_g/" target="_blank">Desempeño Piso</a>
      </div>
    </div>
  </div>

  <div class="eight wide column">
    <div class="ui grid">
      <div class="ui row top attached ">
        <i class="icon blue asterisk"> </i>
        <a href="/cursos/rubrica_g/" target="_blank">Revista Observada</a>
      </div>
    </div>
  </div>

  <div class="eight wide column">
    <div class="ui grid">
      <div class="ui row top attached ">
        <i class="icon blue asterisk"> </i>
        <a href="/cursos/rubrica_g/" target="_blank">Revista Piso</a>
      </div>
    </div>
  </div>

  <div class="eight wide column">
    <div class="ui grid">
      <div class="ui row top attached ">
        <i class="icon blue asterisk"> </i>
        <a href="/cursos/rubrica_g/" target="_blank">Rotación Consulta</a>
      </div>
    </div>
  </div>

  <div class="eight wide column">
    <div class="ui grid">
      <div class="ui row top attached ">
        <i class="icon blue asterisk"> </i>
        <a href="/cursos/rubrica_g/" target="_blank">Paciente</a>
      </div>
    </div>
  </div>
  </div>
  </div>



  <div class="ui bottom attached tab segment" data-tab="calificadas">
      <div class="ui grid">

        <div class="eight wide column">
          <div class="ui grid">
            <div class="ui row top attached ">

                <span data-tooltip="Rúbrica calificada">
                    <i class="icon  green check circle"> </i>
                </span>

              <a href="/cursos/rubrica_c/" target="_blank">Enfermería Piso</a>

                  <div class="ui item">
                      <div class="meta">&nbsp;Semana 1</div>
                  </div>

            </div>
            <div class="ui bottom attached ">

              <div class="ui label">
                <i class="calendar icon"></i> 01/02/2021
              </div>

              <div class="ui label">
                <i class="calculator icon"></i> 4.5
              </div>

            </div>
          </div>
        </div>

        <div class="eight wide column">
          <div class="ui grid">
            <div class="ui row top attached ">

                <span data-tooltip="Rúbrica calificada">
                    <i class="icon  green check circle"> </i>
                </span>

              <a href="/cursos/rubrica_c/" target="_blank">Enfermería Piso</a>

                  <div class="ui item">
                      <div class="meta">&nbsp;Semana 2</div>
                  </div>

            </div>
            <div class="ui bottom attached ">

              <div class="ui label">
                <i class="calendar icon"></i> 07/02/2021
              </div>

              <div class="ui label">
                <i class="calculator icon"></i> 4.1
              </div>

            </div>
          </div>
        </div>

        <div class="eight wide column">
          <div class="ui grid">
            <div class="ui row top attached ">

                <span data-tooltip="Rúbrica calificada">
                    <i class="icon  green check circle"> </i>
                </span>

              <a href="/cursos/rubrica_c/" target="_blank">Enfermería Piso</a>

                  <div class="ui item">
                      <div class="meta">&nbsp;Semana 3</div>
                  </div>

            </div>
            <div class="ui bottom attached ">

              <div class="ui label">
                <i class="calendar icon"></i> 14/02/2021
              </div>

              <div class="ui label">
                <i class="calculator icon"></i> 4.7
              </div>

            </div>
          </div>
        </div>

        <div class="eight wide column">
          <div class="ui grid">
            <div class="ui row top attached ">

                <span data-tooltip="Rúbrica calificada">
                    <i class="icon  green check circle"> </i>
                </span>

              <a href="/cursos/rubrica_c/" target="_blank">Desempeño Piso</a>

                  <div class="ui item">
                      <div class="meta">&nbsp;Ciclo 1</div>
                  </div>

            </div>
            <div class="ui bottom attached ">

              <div class="ui label">
                <i class="calendar icon"></i> 03/04/2021
              </div>

              <div class="ui label">
                <i class="calculator icon"></i> 3.3
              </div>

            </div>
          </div>
        </div>

        <div class="eight wide column">
          <div class="ui grid">
            <div class="ui row top attached ">

                <span data-tooltip="Rúbrica calificada">
                    <i class="icon  green check circle"> </i>
                </span>

              <a href="/cursos/rubrica_c/" target="_blank">Revista Observada</a>

                  <div class="ui item">
                      <div class="meta">&nbsp;Mitad 1</div>
                  </div>

            </div>
            <div class="ui bottom attached ">

              <div class="ui label">
                <i class="calendar icon"></i> 23/01/2021
              </div>

              <div class="ui label">
                <i class="calculator icon"></i> 4.4
              </div>

            </div>
          </div>
        </div>

        <div class="eight wide column">
          <div class="ui grid">
            <div class="ui row top attached ">

                <span data-tooltip="Rúbrica calificada">
                    <i class="icon  green check circle"> </i>
                </span>

              <a href="/cursos/rubrica_c/" target="_blank">Revista Observada</a>

                  <div class="ui item">
                      <div class="meta">&nbsp;Mitad 2</div>
                  </div>

            </div>
            <div class="ui bottom attached">

              <div class="ui label">
                <i class="calendar icon"></i> 23/02/2021
              </div>

              <div class="ui label">
                <i class="calculator icon"></i> 4.2
              </div>

            </div>
          </div>
        </div>

        <div class="eight wide column">
          <div class="ui grid">
            <div class="ui row top attached ">

                <span data-tooltip="Rúbrica calificada">
                    <i class="icon  green check circle"> </i>
                </span>

              <a href="/cursos/rubrica_c/" target="_blank">Revista Piso</a>

                  <div class="ui item">
                      <div class="meta">&nbsp;Final</div>
                  </div>

            </div>
            <div class="ui bottom attached ">

              <div class="ui label">
                <i class="calendar icon"></i> 23/04/2021
              </div>

              <div class="ui label">
                <i class="calculator icon"></i> 3.7
              </div>

            </div>
          </div>
        </div>

        <div class="eight wide column">
          <div class="ui grid">
            <div class="ui row top attached ">

                <span data-tooltip="Rúbrica calificada">
                    <i class="icon  green check circle"> </i>
                </span>

              <a href="/cursos/rubrica_c/" target="_blank">Paciente</a>

                  <div class="ui item">
                      <div class="meta">&nbsp;Paciente 1</div>
                  </div>

            </div>
            <div class="ui bottom attached ">

              <div class="ui label">
                <i class="calendar icon"></i> 20/02/2021
              </div>

              <div class="ui label">
                <i class="calculator icon"></i> 4.1
              </div>

            </div>
          </div>
        </div>

        <div class="eight wide column">
          <div class="ui grid">
            <div class="ui row top attached ">

                <span data-tooltip="Rúbrica calificada">
                    <i class="icon  green check circle"> </i>
                </span>

              <a href="/cursos/rubrica_c/" target="_blank">Paciente</a>

                  <div class="ui item">
                      <div class="meta">&nbsp;Paciente 1</div>
                  </div>

            </div>
            <div class="ui bottom attached ">

              <div class="ui label">
                <i class="calendar icon"></i> 22/02/2021
              </div>

              <div class="ui label">
                <i class="calculator icon"></i> 4.2
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  <script language='javascript'>
  $('.menu .item')
    .tab()
  ;

  $('.ui.normal.dropdown')
    .dropdown({
      maxSelections: 5
    })
  ;
  $('.ui.special.dropdown')
    .dropdown({
      useLabels: false,
      maxSelections: 3
    })
  ;

  </script>

  </div>

  <div class="Site-footer ui inverted footer black segment">
    <div class="ui container">
      <i class="large python mark icon"></i>
      <div class="ui small horizontal list">
        <a class="item" style="color: white;" href="/contactenos/">Cont&aacute;ctenos (1.0.1/29ba1bf)</a>
      </div>
      <div class="ui small  right floated horizontal list">
        <i class="item">Universidad de los Andes | Facultad de Medicina</i>
      </div>
    </div>
  </div>

  <script language='javascript'>
      $(document).ready(function() {
        $('.ui.accordion').accordion()

        $('.toggle').click(function() {
          $('.ui.accordion').accordion('toggle', 1);
        });
      });
  </script>


  </body>
</html>

{% endblock %}
