{% extends "rubricas/base.html" %}
<!-- Implementación visualizaciones -->
<!-- Fin Implementación visualizaciones -->

{% block head_title %}
Proy_medicina - Curso específico
{% endblock %}

{% block content %}

{% load humanize %}
<head>
  <style type="text/css">
    body {
      background-color: #FFFFFF;
    }
    .ui.menu .item img.logo {
      margin-right: 1.5em;
    }
    .main.container {
      margin-top: 7em;
    }
    .wireframe {
      margin-top: 2em;
    }
    .ui.footer.segment {
      margin: 5em 0em 0em;
      padding: 5em 0em;
    }
  </style>
</head>

<body>
  <h1 class="ui header">Otorrinolaringología - MEDI 3431</h1>
  <br>

  <div class="ui styled fluid accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      APEs evaluadas
    </div>
    <div class="content">

      <table class="ui very basic collapsing celled table">

        <tbody>
          <tr>
            <td>
              APE 1
            </td>
            <td>
              Historia clínica
            </td>
          </tr>
          <tr>
            <td>
              APE 4
            </td>
            <td>
              Tratamiento de enfermedades
            </td>
          </tr>
          <tr>
            <td>
              APE 7
            </td>
            <td>
              Procedimientos básicos
            </td>
          </tr>
          <tr>
            <td>
              APE 12
            </td>
            <td>
              Identifica urgencias
            </td>
          </tr>
          <tr>
            <td>
              APE 14
            </td>
            <td>
              Soporte vital avanzado
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Competencias
    </div>
    <div class="content">
        <table class="ui very basic collapsing celled table">
          <thead>
            <tr>
              <th style='text-align:center;' >Área</th>
              <th style='text-align:center;'>Código</th>
              <th style='text-align:center;'>Nombre</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td rowspan="2">
                Conocimientos
              </td>
              <td style='text-align:center;'>
                CPP1
              </td>
              <td>
                Conocimiento ciencias básicas
              </td>
            </tr>

            <tr>
              <td style='text-align:center;'>
                CPP4
              </td>
              <td>
                Conocimiento bases fisiológicas
              </td>
            </tr>

            <tr>
              <td>
                Comunicación
              </td>
              <td style='text-align:center;'>
                C7
              </td>
              <td>
                Historia e informes escritos
              </td>
            </tr>

            <tr>
              <td rowspan="3">
                Profesionalismo
              </td>
              <td style='text-align:center;'>
                EP1
              </td>
              <td>
                Desarrolla relación humana
              </td>
            </tr>

            <tr>
              <td style='text-align:center;'>
                EP3
              </td>
              <td>
                Desarrolla práctica médica
              </td>
            </tr>

            <tr>
              <td style='text-align:center;'>
                EP4
              </td>
              <td>
                Actúa de forma honesta
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <h2 class="ui header">Rúbricas</h2>

  <div class="ui fluid card">

  <div class="ui divided list">

    <div class="item">
      <i class="icon blue asterisk"></i>
      <div class="content">
        <a href="/cursos/rubrica_g/"><h3>Enfermería Piso</h3></a>
        <table class="ui very basic collapsing celled table">
          <tbody>
            <tr>
              <td><i class="icon green check"></i></td>
              <td><a href="/cursos/rubrica_c/">Semana 1</a></td>
              <td>  <div class="ui label"> <i class="calendar icon"></i> 01/02/2021 </div> </td>
              <td> <div class="ui label"> <i class="calculator icon"></i> 4.5 </div> </td>
            </tr>
            <tr>
              <td><i class="icon green check"></i></td>
              <td><a href="/cursos/rubrica_c/">Semana 2</a></td>
              <td>  <div class="ui label"> <i class="calendar icon"></i> 07/02/2021 </div> </td>
              <td> <div class="ui label"> <i class="calculator icon"></i> 4.1 </div> </td>
            </tr>
            <tr>
              <td><i class="icon ellipsis horizontal"></i></td>
              <td>Semana 3</td>
              <td>  <div class="ui label"> <i class="tasks icon"></i> Pendiente </div> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="item">
      <i class="icon blue asterisk"></i>
      <div class="content">
        <a href="/cursos/rubrica_g/"><h3>Consulta Observada</h3></a>
        <table class="ui very basic collapsing celled table">
          <tbody>
            <tr>
              <td><i class="icon ellipsis horizontal"></i></td>
              <td>Nota final</td>
              <td>  <div class="ui label"> <i class="tasks icon"></i> Pendiente </div> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="item">
      <i class="icon blue asterisk"></i>
      <div class="content">
        <a href="/cursos/rubrica_g/"><h3>Desempeño Piso</h3></a>
        <table class="ui very basic collapsing celled table">
          <tbody>
            <tr>
              <td><i class="icon green check"></i></td>
              <td><a href="/cursos/rubrica_c/">Ciclo 1</a></td>
              <td>  <div class="ui label"> <i class="calendar icon"></i> 03/01/2021 </div> </td>
              <td> <div class="ui label"> <i class="calculator icon"></i> 3.9 </div> </td>
            </tr>
            <tr>
              <td><i class="icon ellipsis horizontal"></i></td>
              <td>Ciclo 2</td>
              <td>  <div class="ui label"> <i class="tasks icon"></i> Pendiente </div> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="item">
      <i class="icon blue asterisk"></i>
      <div class="content">
        <a href="/cursos/rubrica_g/"><h3>Revista Observada</h3></a>
          <table class="ui very basic collapsing celled table">
            <tbody>
              <tr>
                <td><i class="icon green check"></i></td>
                <td><a href="/cursos/rubrica_c/">Mitad 1</a></td>
                <td>  <div class="ui label"> <i class="calendar icon"></i> 17/01/2021 </div> </td>
                <td> <div class="ui label"> <i class="calculator icon"></i> 4.5 </div> </td>
              </tr>
              <tr>
                <td><i class="icon green check"></i></td>
                <td><a href="/cursos/rubrica_c/">Mitad 2</a></td>
                <td>  <div class="ui label"> <i class="calendar icon"></i> 05/05/2021 </div> </td>
                <td> <div class="ui label"> <i class="calculator icon"></i> 5 </div> </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>

    <div class="item">
      <i class="icon blue asterisk"></i>
      <div class="content">
        <a href="/cursos/rubrica_g/"><h3>Revista Piso</h3></a>
        <table class="ui very basic collapsing celled table">
          <tbody>
            <tr>
              <td><i class="icon green check"></i></td>
              <td><a href="/cursos/rubrica_c/">Final</a></td>
              <td>  <div class="ui label"> <i class="calendar icon"></i> 27/03/2021 </div> </td>
              <td> <div class="ui label"> <i class="calculator icon"></i> 4.3 </div> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="item">
      <i class="icon blue asterisk"></i>
      <div class="content">
        <a href="/cursos/rubrica_g/"><h3>Rotación Consulta</h3></a>
        <table class="ui very basic collapsing celled table">
          <tbody>
            <tr>
              <td><i class="icon ellipsis horizontal"></i></td>
              <td>Nota final</td>
              <td>  <div class="ui label"> <i class="tasks icon"></i> Pendiente </div> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="item">
      <i class="icon blue asterisk"></i>
      <div class="content">
        <a href="/cursos/rubrica_g/"><h3>Paciente</h3></a>
        <table class="ui very basic collapsing celled table">
          <tbody>
            <tr>
              <td><i class="icon green check"></i></td>
              <td><a href="/cursos/rubrica_c/">Paciente 1</a></td>
              <td>  <div class="ui label"> <i class="calendar icon"></i> 20/02/2021 </div> </td>
              <td> <div class="ui label"> <i class="calculator icon"></i> 3.7 </div> </td>
            </tr>
            <tr>
              <td><i class="icon green check"></i></td>
              <td><a href="/cursos/rubrica_c/">Paciente 2</a></td>
              <td>  <div class="ui label"> <i class="calendar icon"></i> 22/02/2021 </div> </td>
              <td> <div class="ui label"> <i class="calculator icon"></i> 4.6 </div> </td>
            </tr>
            <tr>
              <td><i class="icon green check"></i></td>
              <td><a href="/cursos/rubrica_c/">Paciente 3</a></td>
              <td>  <div class="ui label"> <i class="calendar icon"></i> 25/02/2021 </div> </td>
              <td> <div class="ui label"> <i class="calculator icon"></i> 3.8 </div> </td>
            </tr>
            <tr>
              <td><i class="icon ellipsis horizontal"></i></td>
              <td>Paciente 4</td>
              <td>  <div class="ui label"> <i class="tasks icon"></i> Pendiente </div> </td>
            </tr>
            <tr>
              <td><i class="icon ellipsis horizontal"></i></td>
              <td>Paciente 5</td>
              <td>  <div class="ui label"> <i class="tasks icon"></i> Pendiente </div> </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="Site-footer ui inverted footer black segment">
    <div class="ui container">
      <i class="large python mark icon"></i>
      <div class="ui small horizontal list">
        <a class="item" style="color: white;" href="/contactenos/">Cont&aacute;ctenos (1.0.1/29ba1bf)</a>
      </div>
      <div class="ui small  right floated horizontal list">
        <i class="item">Universidad de los Andes | Facultad de Medicina</i>
      </div>
    </div>
  </div>

  <script language='javascript'>
      $(document).ready(function() {
        $('.ui.accordion').accordion()

        $('.toggle').click(function() {
          $('.ui.accordion').accordion('toggle', 1);
        });
      });
  </script>

  </body>
</html>

{% endblock %}
