{% extends "rubricas/base.html" %}
<!-- Implementación visualizaciones -->
<!-- Fin Implementación visualizaciones -->

{% block head_title %}
Proy_medicina - Curso específico
{% endblock %}

{% block content %}

{% load humanize %}
<head>
<style type="text/css">
body {
  background-color: #FFFFFF;
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.main.container {
  margin-top: 7em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
</style>
</head>

<body>
  <h1 class="ui header">Rúbrica de Enfermería Piso</h1>
  <br>

  <table class="ui very basic table">
    <tbody>
      <tr>
        <td><strong>Nombre</strong></td>
        <td>Enfermería Piso (Genérica)</td>
      </tr>
      <tr>
        <td><strong>Temas</strong></td>
        <td>Canalización de venas, Trato humano al paciente, Procedimiento de emergencia</td>
      </tr>
      <tr>
        <td><strong>Descripción</strong></td>
        <td>Desempeño del residente en rotación según el/la jefe de enfermería del piso</td>
      </tr>
    </tbody>
  </table>


  <div class="ui styled fluid accordion">
    <div class="title">
      <i class="blue icon sitemap"> </i>
      <i class="dropdown icon"></i>
      APEs evaluadas en la rúbrica
    </div>
    <div class="content">

      <table class="ui very basic collapsing celled table">
        <thead>
          <tr><th>  #</th>
          <th>Descripción</th>
        </tr></thead>
        <tbody>
          <tr>
            <td>
              <div class="content">4</div>
            </td>
            <td>
              Tratamiento de enfermedades
            </td>
          </tr><tr>
            <td>
              <div class="content">7</div>
            </td>
            <td>
              Procedimientos básicos
            </td>
          </tr><tr>
            <td>
              <div class="content">14</div>
            </td>
            <td>
              Soporte vital avanzado
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="title">
      <i class="pink icon project diagram"> </i>
      <i class="dropdown icon"></i>
      Competencias
    </div>
    <div class="content">

      <div class="content">

        <table class="ui very basic collapsing celled table">
          <thead>
            <tr><th>Area</th>
            <th>Código</th>
            <th>Descripción</th>
          </tr></thead>

          <tbody>
            <tr>
              <td rowspan="2">
                <div class="content">Conocimientos</div>
              </td>
              <td>
                CPP1
              </td>
              <td>
                Conocimiento ciencias básicas
              </td>
            </tr>

            <tr>
              <td style='text-align:center;'>
                CPP4
              </td>
              <td>
                Conocimiento bases fisiológicas
              </td>
            </tr>

            <tr>
              <td>
                <div class="content">Comunicación</div>
              </td>
              <td>
                C7
              </td>
              <td>
                Historia e informes escritos
              </td>
            </tr>

          </tbody>
        </table>

      </div>

    </div>
  </div>

  <table class="ui striped celled table">
    <thead>
      <tr>
        <th rowspan="2">Criterios</th>
        <th>No está preparado</th>
        <th>Aceptable</th>
        <th>Lo hace bien</th>
        <th>Ejemplar</th>
        <th rowspan="2">Puntaje</th>
      </tr>
      <tr>
        <th>Nivel 1</th>
        <th>Nivel 2</th>
        <th>Nivel 3</th>
        <th>Nivel 4</th>
      </tr>
    </thead>
  <tbody>
    <tr>
      <td>
        <span data-tooltip="APE4 - Tratamiento de enfermedades">
            <i class="blue icon sitemap"> </i>
        </span>
        <span data-tooltip="CPP1 - Conocimiento ciencias básicas">
            <i class="pink icon project diagram"> </i>
        </span>
        <br>
        <strong>Hace una historia clínica completa y detallada del paciente pediátrico. Identifica y prioriza los diagnósticos diferenciales, conoce y usa adecuadamente las pruebas diagnosticas indicadas.</strong>
      </td>
      <td class="top aligned">
          <p style="color:grey">1 punto</p>
        <div>
          Información es insuficiente o exhaustiva. A veces omite datos relevantes o se desvía del problema principal. El examen físico es incompleto u omite detalles relevantes para el problema principal.
        </div>
      </td>
      <td class="top aligned">
          <p style="color:grey">3 puntos</p>
        <div>
          La información es completa, cronológica y estructurada, describe el estado del paciente y los hallazgos principales. Conoce e interpreta las pruebas diagnosticas esenciales. Tiene en cuenta riesgos, beneficios y las preferencias del paciente.
        </div>
      </td>
      <td class="top aligned">
          <p style="color:grey">7 puntos</p>
        <div>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </div>
      </td>
      <td class="top aligned">
          <p style="color:grey">10 puntos</p>
        <div>
        La información es completa, cronológica y estructurada, describe el estado del paciente y los hallazgos principales, hace un plan de estudio razonado, coherente. Conoce, prioriza e interpreta las pruebas diagnosticas, las usa para el diagnostico, gravedad y seguimiento. Tiene en cuenta riesgos, beneficios y las preferencias del paciente.
        </div>
      </td>
      <td>-/10</td>
    </tr>

    <tr>
      <td>
        <span data-tooltip="APE4 - Tratamiento de enfermedades">
            <i class="blue icon sitemap"> </i>
        </span>
        <span data-tooltip="CPP1 - Conocimiento ciencias básicas">
            <i class="pink icon project diagram"> </i>
        </span>
        <br>
        <strong>Toma valores antropométricos, analiza percentil; valora el estado nutricional, la alimentación, salud bucal los hábitos y practica, hace evaluación ocular, auditiva, identificación sexual.</strong>
      </td>
      <td class="top aligned">
          <p style="color:grey">1 punto</p>
        <div>
          Falla en la evaluación de valores antropométricos y percentil. No tiene en cuenta o es incompleta la valoración del estado nutricional, la alimentación, salud bucal, ocular, auditiva, identificación sexual.
        </div>
      </td>
      <td class="top aligned">
          <p style="color:grey">3 puntos</p>
        <div>
          Tiene en cuenta valores antropométricos, analiza percentil; hace una valoración aceptable del estado nutricional, la alimentación, salud boca, ocular, auditiva, identificación sexual.
        </div>
      </td>
      <td class="top aligned">
          <p style="color:grey">7 puntos</p>
        <div>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </div>
      </td>
      <td class="top aligned">
          <p style="color:grey">10 puntos</p>
        <div>
        Toma valores antropométricos, analiza percentil; valora el estado de salud: nutricional, la alimentación, salud bucal los hábitos y practica, hace evaluación ocular (movimiento, fijación, etc.), auditiva, identificación sexual.
        </div>
      </td>
      <td>-/10</td>
    </tr>

    <tr>
      <td>
        <span data-tooltip="APE4 - Tratamiento de enfermedades">
            <i class="blue icon sitemap"> </i>
        </span>
        <span data-tooltip="CPP1 - Conocimiento ciencias básicas">
            <i class="pink icon project diagram"> </i>
        </span>
        <br>
        <strong>Evalúa la conformación y dinámica familiar, situaciones de vulnerabilidad. Busca e identifica señales de stress, ansiedad, depresión, riesgo de violencia, maltrato, uso de tabaco, sustancias sicoactivas. Maneja situaciones de riesgo, educa, remite para apoyar.</strong>
      </td>
      <td class="top aligned">
          <p style="color:grey">1 punto</p>
        <div>
          No tiene en cuenta la conformación y dinámica familiar. No identifica o no tiene en cuenta situaciones de stress, ansiedad, depresión, riesgo de violencia, maltrato, uso de tabaco, sustancias sicoactivas.
        </div>
      </td>
      <td class="top aligned">
          <p style="color:grey">2 puntos</p>
        <div>
          Evalúa la conformación y dinámica familiar. Identifica señales de stress, ansiedad, depresión, riesgo de violencia, maltrato, uso de tabaco, substancias.
        </div>
      </td>
      <td class="top aligned">
          <p style="color:grey">4 puntos</p>
        <div>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </div>
      </td>
      <td class="top aligned">
          <p style="color:grey">5 puntos</p>
        <div>
        Evalúa la conformación y dinámica familiar, situaciones de vulnerabilidad. Busca e identifica señales de stress, ansiedad, depresión, riesgo de violencia, maltrato, uso de tabaco, sustancias sicoactivas. Maneja situaciones de riesgo, educa, remite para apoyar.
        </div>
      </td>
      <td>-/5</td>
    </tr>

    <tr>
      <td>
        <span data-tooltip="APE4 - Tratamiento de enfermedades">
            <i class="blue icon sitemap"> </i>
        </span>
        <span data-tooltip="CPP1 - Conocimiento ciencias básicas">
            <i class="pink icon project diagram"> </i>
        </span>
        <br>
        <strong>El residente demuestra capacidad para diagnosticar y manejar adecuadamente las enfermedades y situaciones clínicas frecuentes de la rotación. Reconoce sus limitaciones y solicita ayuda.</strong>
      </td>
      <td class="top aligned">
          <p style="color:grey">1 punto</p>
        <div>
          Falla en los conocimientos para establecer tratamiento de las enfermedades frecuentes, o se basa exclusivamente en el manejo farmacológico, no involucra los conceptos de atención integral, promoción, prevención y rehabilitación.
        </div>
      </td>
      <td class="top aligned">
          <p style="color:grey">5 puntos</p>
        <div>
          Establece tratamientos con base en las guías de manejo, a veces tiene problemas para adaptarlas a las particularidades y preferencias del paciente (edad, alergias, enfermedades, interacciones, riesgos). A veces no incluye conceptos de promoción, prevención y rehabilitación o no asegura la continuidad de la atención.
        </div>
      </td>
      <td class="top aligned">
          <p style="color:grey">10 puntos</p>
        <div>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </div>
      </td>
      <td class="top aligned">
          <p style="color:grey">15 puntos</p>
        <div>
        Sintetiza información y establece tratamiento integral, incluido promoción y prevención, con base en los conocimientos y guías de manejo. tiene en cuenta las redes de apoyo, preferencias y características del paciente (edad, alergias, enfermedades, interacciones,riesgos). Coordina manejo interdisciplinario y asegura la continuidad de la atención. Valora riesgo/beneficio y costos.
        </div>
      </td>
      <td>-/15</td>
    </tr>

    <tr>
      <td>
        <span data-tooltip="APE4 - Tratamiento de enfermedades">
            <i class="blue icon sitemap"> </i>
        </span>
        <span data-tooltip="CPP1 - Conocimiento ciencias básicas">
            <i class="pink icon project diagram"> </i>
        </span>
        <br>
        <strong>Se comunica adecuadamente con el paciente y familia, educa y orienta sobre el cuidado, crianza, recreación, actividad física, alimentación, salud oral, sexualidad, vacunación, etc.</strong>
      </td>
      <td class="top aligned">
          <p style="color:grey">1 punto</p>
        <div>
          Tiene dificultad para establecer relaciones profesionales y orienta al paciente y familia.
        </div>
      </td>
      <td class="top aligned">
          <p style="color:grey">3 puntos</p>
        <div>
          Establece relaciones profesionales de confianza y respeto, orienta aceptablemente al paciente y familia sobre el cuidado, crianza, recreación, actividad física, alimentación, salud oral, sexualidad, vacunación, etc.
        </div>
      </td>
      <td class="top aligned">
          <p style="color:grey">7 puntos</p>
        <div>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </div>
      </td>
      <td class="top aligned">
          <p style="color:grey">10 puntos</p>
        <div>
        Se comunica, escucha, educa, y orienta positivamente al paciente y familia sobre el cuidado, crianza, recreación, actividad física, alimentación, salud oral, sexualidad, vacunación, etc. Verifica la comprensión.
        </div>
      </td>
      <td>-/10</td>
    </tr>
  </tbody>
  </table>

  <div class="ui fluid card">
    <table class="ui very basic table">
      <tr>
        <td><strong>Total</strong></td>
        <td class="right aligned">-/50</td>
      </tr>
    </table>
  </div>
  <br>
  <br>
  <script language='javascript'>
      $(document).ready(function() {
        $('.ui.accordion').accordion()

        $('.toggle').click(function() {
          $('.ui.accordion').accordion('toggle', 1);
        });
      });
  </script>

  </body>
</html>

{% endblock %}
